<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Add</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <section class="adminAdd-section">
        <div class="container">
            <h1 class="adminAdd-title">Add Admin</h1>
            <form action="/admin/add" method="POST" class="adminAdd-form">
                <input type="text" placeholder="Email" name="email">
                <input type="password" placeholder="Password" name="password">
                <input type="submit" value="submit" class="adminAdd-btn">
            </form>
        </div>
    </section>
</body>
</html>