<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{messageTitle}}</title>
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.1.1/css/all.css">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <section class="message-section">
        <div class="container">
            <h1 class="message-text">{{message}}</h1>
            <a href="{{link}}" class="btn btn-primary message-btn">Go Back</a>
        </div>
    </section>
    {{>footer}}
</body>
</html>