<section class="about-section" id="about-section">
    <div class="container">
        <h1 class="about-title section-title">About Us</h1>
        <p class="about-subtitle section-subtitle">grow your business with us</p>
        <div class="about-layout-container">
            <div class="about-left">
                <img src="/images/about.svg" alt="">
            </div>
            <div class="about-right">
                <h2>We are the professional developers</h2>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Porro rem eveniet eligendi ut laborum quia natus temporibus nam quos. Maxime laudantium dicta quae eius earum quo sit, distinctio, quam necessitatibus architecto delectus. Lorem ipsum dolor sit. </p>
                <a href="/" class="btn btn-secondary about-btn">Read More</a>
            </div>
        </div>
    </div>
</section>