<section class="contact-section" id="contact-section">
    <div class="container">
        <h1 class="contact-title section-title">Contact Us</h1>
        <p class="contact-subtitle section-subtitle">we will be happy to help you</p>
        <form action="/" method="POST" class="contact-form">
        <input type="text" placeholder="Your Name" name="name">
        <input type="email" placeholder="Your Email" name="email">
        <input type="tel" placeholder="Phone Number" name="phone">
        <textarea placeholder="Your Message..." name="message"></textarea>
        <input type="submit" value="Submit">            
        </form>
    </div>
</section>