<section class="home-section" id="home-section">
    <div class="container">
        <div class="home-layout-container">
            <div class="home-left">
                <h1>We will help you to</h1>
                <h2>Grow your business</h2>
                <p>We are the teams of <span>Professional Developers</span></p>
                <a href="/" class="btn btn-primary home-btn">Read More</a>
            </div>
            <div class="home-right">
                <img src="/images/growth.svg" alt="">
            </div>
        </div>
    </div>
</section>