<nav class="navbar">
    <div class="navbar-container">
        <a href="/" class="navbar-logo">Sumit</a>
        <ul class="navbar-items">
            <li class="navbar-item"><a href="/">Home</a></li>
            <li class="navbar-item"><a href="#about-section">About</a></li>
            <li class="navbar-item"><a href="#service-section">Service</a></li>
            <li class="navbar-item"><a href="#contact-section">Contact</a></li>
        </ul>
    </div>
</nav>