<section class="service-section" id="service-section">
    <div class="container">
        <h1 class="service-title section-title">Our Services</h1>
        <p class="service-subtitle section-subtitle">grow your business with us</p>
        <div class="service-layout-container">
            <div class="service">
                <div class="service-icon-container">
                    <i class="fa-regular fa-gear"></i>
                </div>
                <h1 class="service-heading">Settings</h1>
                <p class="service-content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias, exercitationem Lorem, ipsu</p>
            </div>
            <div class="service">
                <div class="service-icon-container">
                    <i class="fa-sharp fa-regular fa-gauge"></i>
                </div>
                <h1 class="service-heading">Speed Up</h1>
                <p class="service-content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias, exercitationem Lorem, ipsu</p>
            </div>
            <div class="service">
                <div class="service-icon-container">
                    <i class="fa-solid fa-shield-check"></i>
                </div>
                <h1 class="service-heading">Privacy</h1>
                <p class="service-content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias, exercitationem Lorem, ipsu</p>
            </div>
            <div class="service">
                <div class="service-icon-container">
                    <i class="fa-regular fa-cloud"></i>
                </div>
                <h1 class="service-heading">Backups</h1>
                <p class="service-content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias, exercitationem Lorem, ipsu</p>
            </div>
            <div class="service">
                <div class="service-icon-container">
                    <i class="fa-sharp fa-regular fa-lock-keyhole"></i>
                </div>
                <h1 class="service-heading">SSL Secured</h1>
                <p class="service-content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias, exercitationem Lorem, ipsu</p>
            </div>
            <div class="service">
                <div class="service-icon-container">
                    <i class="fa-regular fa-database"></i>
                </div>
                <h1 class="service-heading">Database</h1>
                <p class="service-content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias, exercitationem Lorem, ipsu</p>
            </div>
        </div>
    </div>
</section>